<div class="mainbody notice-mainbody" >
	<div class="container notice-container">
		<div class="row title-row"> 
			<div class="col-xs-12 title-font">
				<?php  echo $title;?>
			</div>
		</div>
		<div class="row text-row"> 
			<div class="col-xs-12 content-font">
				<?php echo $content;?>
			<div>
		</div>
	</div>  	
</div>
