<div class="mainbody notices-mainbody" >
	<div class="container notices-container">
		<div class="row title-row"> 
			<div class="col-xs-12 title-font">
				<?php echo H('平台公告');?>
			</div>
		</div>
		<div class="row "> 
			<div class="col-xs-12 table-style">
				<table class="table table-striped">
					<tr></tr>
					<?php foreach ($notices as $value) :?>
					<tr>	
						<td><a href="notice?id=<?php echo $value->id; ?>"><?php echo H($value->title." （".date("Y年m月d日",strtotime($value->pub_date))."）");?></a></td>
					</tr>
					<?php endforeach; ?>
				</table>
			</div>
		</div>
	</div>  	
</div>



