<main>
<div class="row">
	<h3>添加用户</h3>
	<div class="center-block">
		<form class="form-horizontal"  method="post" action="<?php echo URL('/user/add');?>">
			  <div class="form-group">
				<label for="username" class="col-sm-2 control-label">用户名</label>
				<div class="col-sm-6">
				  <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
                    <div class="help-block with-errors"><?php echo ($form['_errors']?$form['_errors']['username']:'');?></div>
                </div>
			  </div>
			  <div class="form-group">
				<label for="name" class="col-sm-2 control-label">姓名</label>
				<div class="col-sm-6">
				  <input type="text" class="form-control" id="name" name="name" placeholder="姓名">
                    <div class="help-block with-errors"><?php echo ($form['_errors']?$form['_errors']['name']:'');?></div>
				</div>
			  </div>
			  <div class="form-group">
				<label for="email" class="col-sm-2 control-label">邮箱</label>
				<div class="col-sm-6">
				  <input type="email" class="form-control" id="email" name="email" placeholder="邮箱">
                    <div class="help-block with-errors"><?php echo ($form['_errors']?$form['_errors']['email']:'');?></div>
				</div>
			  </div>
			  <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				  <button type="submit" class="btn btn-default">添加</button>
				</div>
			  </div>
			</form>
	</div>
</div>
</main>
