<main>
<form class="form-horizontal my-form center-block" method="post" action="<?php echo URL('/user/update/'.$user->id);?>">
	  <div class="form-group">
		<label for="username" class="col-sm-2 control-label">用户名</label>
		<div class="col-sm-10">
		<input type="text" class="form-control" id="username" name="username" value="<?php echo $user->username?>">
		</div>
	  </div>
	  <div class="form-group">
		<label for="name" class="col-sm-2 control-label">姓名</label>
		<div class="col-sm-10">
		<input type="text" class="form-control" id="name" name="name" value="<?php echo $user->name;?>">
		</div>
	  </div>
	  <div class="form-group">
		<label for="email" class="col-sm-2 control-label">邮箱</label>
		<div class="col-sm-10">
		<input type="email" class="form-control" id="email" name="email" value="<?php echo $user->email?>">
		</div>
	  </div>
	  <div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
		  <button type="submit" class="btn btn-default">修改</button>
		</div>
	  </div>
	</form>
</main>
