<main>
<div class="row">
	<h3>用户列表</h3>
	<div class="center-block">
		<div class="row">
			<table class="table table-striped table-bordered my-list">
				  <thead>
					<tr>
					  <th>用户名</th>
					  <th>姓名</th>
					  <th>邮箱</th>
					  <th>操作</th>
					</tr>
				  </thead>
				  <tbody>
					<?php foreach($users as $user){?>
						<tr>
							<td><?php echo $user->username;?></td>
							<td><?php echo $user->name;?></td>
							<td><?php echo $user->email;?></td>
							<td><a href="<?php echo URL('/user/forwardedit/'.$user->id);?>">编辑</a> | <a href="<?php echo URL('/user/delete/'.$user->id);?>">删除</a></td>
						</tr>
					<?php }?>
				  </tbody>
				</table>
		</div>
		<div class="row">
		  <ul class="pager pull-right">
			  <li><a href="<?php echo URL('/user/list');?>">上一页</a></li>
			  <li><a href="<?php echo URL('/user/list');?>">下一页</a></li>
		  </ul>
		</div>
	</div>

</div>
</main>
