<main>
<div class="row">
	<h3>修改密码</h3>
	<div class="center-block">
		<form  class="form-horizontal" method="post" action="<?php echo URL('/user/updatepassword/'.$user->id);?>">
			  <div class="form-group">
				<label for="new" class="col-sm-2 control-label">新密码</label>
				<div class="col-sm-10">
                    <input type="password" class="form-control" id="new" name="new" >
                    <div class="help-block with-errors"><?php echo ($form['_errors'])?$form['_errors']['new']:''; ?></div>
				</div>
			  </div>
			  <div class="form-group">
				<label for="repeat" class="col-sm-2 control-label">重复密码</label>
				<div class="col-sm-10">
				<input type="password" class="form-control" id="repeat" name="repeat">
                    <div class="help-block with-errors"><?php echo ($form['_errors'])?$form['_errors']['repeat']:''; ?></div>
				</div>
			  </div>
			  <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				  <button type="submit" class="btn btn-default">修改</button>
				</div>
			  </div>
			</form>
	</div>
</div>
</main>
