@purpleColor: #8E4678; //紫色
@darkPurpleColor: #683559;  //深紫色
@greyColor: #8A7C8D; //灰色
@lightGreyColor: #DBD8DF; //浅灰色
@backColor:#f2f0f3;
@lesslightGreyColor:#F3F4F6;
@purplerGreyColor:#F9F7FC;
@midGreyColor:#ADB3C0;

