<?php 
    $i=1;foreach ($equipments as $equipment):
?>
<div class="row box-content">
    <div class="col-xs-3 box-number"><span><?php echo '0'.$i;?></span></div>
    <div class="col-xs-9 ">
        <div class="row box-title">
            <span><a href="equipment?id=<?php echo $equipment['id'];?>"><?php echo $equipment['name']?></a></span>
        </div>
        <div class="row row-width" >
            <div class="col-xs-3 box-img">
                <img class="box-img" src="<?php echo $equipment['icon128_url']?>" alt="" >
            </div>
            <div class="col-xs-9 box-des">
                <div class="row box-user">
                        <div class="col-xs-3 box-pink">
                            <div class="box-pink-font"> 联系人</div>
                        </div>
                        <div class="col-xs-9">
                            <div class="box-grey-font"> <?php echo mb_strimwidth($equipment['contact'], 0, 27, '...')?></div>
                        </div>
                </div>
                <div class="row box-email">
                        <div class="col-xs-3 box-pink">
                            <div class="box-pink-font">邮箱</div>
                        </div>
                        <div class="col-xs-9">
                            <div class="box-grey-font"> <?php echo mb_strimwidth($equipment['email'], 0, 20, '...')?></div>
                        </div>
                </div>
                <div class="row box-phone">
                        <div class="col-xs-3 box-pink">
                            <div class="box-pink-font">电话</div>
                        </div>
                        <div class="col-xs-9">
                            <div class="box-grey-font"><?php echo $equipment['phone']?> </div>
                        </div>
                </div>
            </div>
        </div>

    </div>
</div>
<?php $i++;endforeach; ?>
<div style="height:50px;"></div>
