<div class="mainbody equipments-mainbody" >
	<div class="container equipments-container">
		<div class="row">
		  	<div class="col-xs-3 sidebar-offcanvas" id="sidebar" role="navigation">
		        <div id="list-group" class="list-group">
		           	<a href="#" class="list-group-item list-title">仪器分类</a>
		           	<a href="search?ids=all" class="list-group-item active">全部</a>
		           	<a class="list-group-item list-loading">
						<div class="loading row search-row equipments-loading" style="margin-top:-10px;">
				  			<div  class="loading col-xs-12 loading-style">
				  				<img  class="loading-style-img" src="assets/img/loading.gif">&nbsp;正在加载数据
				  			</div>
				  		</div>
		           	</a>
		           
		        </div>
			</div>

		  	<div class="col-xs-9 mainbody-right">

	  			<div class="mainbody-right-more ">
	  				<span class="mainbody-right-more-font"><a href="search">more</a></span>
	  			</div>
	  			<div id ="equipments_box" class="mainbody-right-box">
					<div class="loading row search-row equipments-loading">
			  			<div  class="col-xs-12 loading-style">
			  				<img  class="loading-style-img" src="assets/img/loading.gif">&nbsp;正在加载数据
			  			</div>
			  		</div>
		  		</div>
			</div>
		</div>
	</div>
</div>
<script>
	require(['jquery'], function($){
		$.getJSON(
			'ajax/equipments/get_categories',
			{},
			function (response) {		
				$('#list-group').append(response.view);
				$('.list-group .list-loading').hide();
			});
		
		$.getJSON(
			'ajax/equipments/get_equipments',
			{},
			function (response) {
				$('#equipments_box').append(response.view);
				$('.equipments-container .loading').hide();
			});
	})
</script>