<div class="mainbody equipment-mainbody" >
	<div class="container equipment-container">
		<div id="equipment-box" class="box">
			<div class="loading row search-row equipment-loading">
	  			<div  class="col-xs-12 loading-style">
	  				<img  class="loading-style-img" src="assets/img/loading.gif">&nbsp;正在加载数据
	  			</div>
	  		</div>
		</div>	  	
	</div>  	
</div>


<script>
	require(['jquery'], function($){
		$(document).ready(function(){
		$.getJSON(
			'ajax/info/get-info',
			{id:'<?php echo $id;?>'},
			function (response) {
				$('#equipment-box').append(response.view);
				$('.equipment-container .loading').hide();
			});
		});
	})
</script>

