<div class="row box-title">
    <div class="col-xs-12 title-font">
        <?php echo H($equipment['name'])?>
    </div>
</div>

<div class="row box-content">

    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-3 box-img">
                <img class="box-img" src="<?php echo H($equipment['icon128_url']);?>" alt="" >
            </div>
            <div class="col-xs-9 box-des">
                <div class="row box-user">
                    <div class="col-xs-3 box-pink">
                        <div class="box-pink-font"> <?php echo H(T('联系人'))?></div>
                    </div>
                    <div class="col-xs-9">
                        <div class="box-grey-font"> <?php echo H($equipment['contact']);?></div>
                    </div>
                </div>
                <div class="row box-email">
                    <div class="col-xs-3 box-pink">
                        <div class="box-pink-font"><?php echo H(T('邮箱'))?></div>
                    </div>
                    <div class="col-xs-9">
                        <div class="box-grey-font"><?php echo H($equipment['email'])?></div>
                    </div>
                </div>
                <div class="row box-phone">
                    <div class="col-xs-3 box-pink">
                        <div class="box-pink-font"><?php echo H(T('电话'))?></div>
                    </div>
                    <div class="col-xs-9">
                        <div class="box-grey-font"><?php echo H($equipment['phone'])?> </div>
                    </div>
                </div>
                <div class="row box-factory">
                    <div class="col-xs-3 box-pink">
                        <div class="box-pink-font"><?php echo H(T('生产厂家'))?></div>
                    </div>
                    <div class="col-xs-9">
                        <div class="box-grey-font"><?php echo H($equipment['manufacturer'])?> </div>
                    </div>
                </div>
                <div class="row box-type">
                    <div class="col-xs-3 box-pink">
                        <div class="box-pink-font"><?php echo H(T('型号'))?></div>
                    </div>
                    <div class="col-xs-9">
                        <div class="box-grey-font"><?php echo H($equipment['model_no'])?>  </div>
                    </div>
                </div>
                <div class="row box-standard">
                    <div class="col-xs-3 box-pink">
                        <div class="box-pink-font"><?php echo H(T('购买日期'))?></div>
                    </div>
                    <div class="col-xs-9">
                       <div class="box-grey-font"> <?php echo $equipment['manu_date'] ? H(date("Y.m.d",$equipment['manu_date'])) : NULL ?></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row mark-row">
    <div class="col-xs-12 mark-box">
        <div class="mark-title">
            <?php echo H(T('主要规格及技术指标'))?>
        </div>
        <div class="mark-content">
            <?php 
                if($equipment['tech_specs']){
                    $equipment['tech_specs'] = explode("\n",$equipment['tech_specs']);
                    foreach ($equipment['tech_specs'] as $value) {
                        echo H($value)."<br/>";
                    }
                }else{
                    echo H('无');
                }
            ?> 
        </div>
    </div>
</div>
<div class="row mark-row">
    <div class="col-xs-12 mark-box">
        <div class="mark-title">
            <?php echo H(T('主要功能及特色'))?>
        </div>
        <div class="mark-content">
            <?php 
                if($equipment['features']){
                    $equipment['features'] = explode("\n",$equipment['features']);
                    foreach ($equipment['features'] as $value) {
                        echo H($value)."<br/>";
                    }
                }else{
                    echo H('无');
                }
            ?> 
        </div>
    </div>
</div>
<div class="row mark-row">
    <div class="col-xs-12 mark-box">
        <div class="mark-title">
            <?php echo H(T('主要附件与配置'))?>
        </div>
        <div class="mark-content">
            <?php 
                if($equipment['configs']){
                    $equipment['configs'] = explode("\n",$equipment['configs']);
                    foreach ($equipment['configs'] as $value) {
                        echo H($value)."<br/>";
                    }
                }else{
                    echo H('无');
                }
            ?> 
        </div>
    </div>
</div>
<div style="height:50px"></div>
