<main>
<div class="row">
	<h3>添加公告</h3>
	<div class="center-block">
		<form  method="post" action="<?php echo URL('/article/add');?>">
			<div class="form-group">
				<label for="title">标题</label>
				<input type="text" class="form-control" id="title" name="title" placeholder="标题">
				<label class="help-block with-errors"><?php echo ($form['_errors']?$form['_errors']['title']:'');?></label>
			</div>
			<div class="form-group">
				<label for="pub_date">发布日期</label>
				<input type="text" class="form-control form_datetime" id="date" name="pub_date" value="<?php echo $date;?>" placeholder="<?php echo $date;?>">
			</div>
			<div class="form-group" >
				<label for="content">内容</label>
				<label class="help-block with-errors"><?php echo ($form['_errors']?$form['_errors']['content']:'');?></label>
				<textarea id="content" name="content"  class="textarea"></textarea>
			</div>
			<input type="hidden" name="pub_person" value="<?php echo $_SESSION['username']?>"/>

			<button type="submit" class="btn btn-default">发布</button>
		</form>
	</div>
</div>
</main>
<script>
$(function(){
	$('.textarea').summernote({
		height:200
	});
	$('.form_datetime').datetimepicker({
		format: 'YYYY-MM-DD',
		showTodayButton: true
	});
});
</script>
