<main>
<div class="row">
	<h3>编辑公告</h3>
	<div class="center-block">
		<form class="my-form " method="post" action="<?php echo URL('/article/update/'.$article->id);?>">
		  <div class="form-group">
				<label for="title">标题</label>
				<input type="text" class="form-control" id="title" name="title" value="<?php echo $article->title?>">
                <div class="help-block with-errors"><?php echo ($form['_errors'])?$form['_errors']['title']:'';?></div>
		  </div>
		  <div class="form-group my-form center-block">
			<label for="pub_date">发布日期</label>
			<input type="text" class="form-control form_datetime" id="pub_date" name="pub_date" value="<?php echo $article->pub_date;?>">
		  </div>
		  <div class="form-group">
			<label for="content">内容</label>
			<textarea id="content" name="content" cols="30" class="form-control textarea" ><?php echo $article->content;?></textarea>
		  </div>

		  <button type="submit" class="btn btn-default">修改</button>
		</form>
	</div>
</div>
</main>
<script>
	$(function(){
		$('.textarea').summernote({
			height:200
		});
		$('.form_datetime').datetimepicker({
			format: 'YYYY-MM-DD',
			showTodayButton: true
		});
	});
</script>

