<main>
<div class="row">
	<h3>公告列表</h3>
	<div class="center-block">
		<div class="row">
			<table class="table table-striped table-bordered my-list">
				  <thead>
					<tr>
					  <th>标题</th>
					  <th>发布者</th>
					  <th>发布时间</th>
					  <th>操作</th>
					</tr>
				  </thead>
				  <tbody>
					<?php foreach($articles as $article){?>	
						<tr>
							<td><?php echo $article->title;?></td>
							<td><?php echo $article->pub_person;?></td>
							<td><?php echo $article->pub_date;?></td>
							<td><a href="<?php echo URL('/article/forwardedit/'.$article->id);?>">编辑</a> | <a href="<?php echo URL('/article/delete/'.$article->id);?>">删除</a></td>
						</tr>
					<?php }?>
				  </tbody>
				</table>
		</div>
		<div class="row">
		  <ul class="pager pull-right">
			  <li> <a href="<?php echo URL('/article/forwardlist',array('pre'=>$pre));?>">上一页</a></li>
			  <li><a href="<?php echo URL('/article/forwardlist',array('next'=>$next));?>">下一页</a></li>
		  </ul>
		</div>
	</div>
</div>
</main>
