<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8"/>
<title><?=H($title)?></title>
<base href="<?=H(URL('/'))?>"/>
<link href="<?=H(RURL('bootstrap.css','css'))?>" rel="stylesheet"/>
<link href="<?=H(RURL('another.css','css'))?>" rel="stylesheet"/>
<link href="<?=H(RURL('font-awesome.css','css'))?>" rel="stylesheet"/>
<script  data-main="<?=H(RURL('main.js','js'))?>" src="<?=H(RURL('require.js','js'))?>"></script>
</head>
<body>
	<div class="header-top"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				 <header>                                                                                                                                         
				   <div class="container container-header" >
						<div class="row head-row" >
						   <div class="col-xs-6">
							   <span class="font"><?php echo H("南开大学大型仪器管理平台");?></span><br/>
							   <span class="font-en"><?php echo H("NANKAI UNIVERSITY");?></span>
						   </div>
						</div>
				  </div>
				  </header>
			</div>
		</div>
	</div>
	<div class="container main">
		<div class="row">
			<div class="col-md-12"><?= $main?></div>
		</div>
	</div>
</body>
</html>
