<nav>
	<ul class="nav nav-stacked">
		<?php 
			foreach($nav as $title=>$items){
				echo '<li role="presentation" class="nav_title"><a>'.$title.'</a></li>';
				foreach($items as $item=>$attr){
					echo '<li role="presentation" class="nav_item '.($active==$attr['active']?'active':'').'" ><a href="'.$attr['forward'].'">'.$item.'</a></li>';
				}
			}
		?>
	</ul>
</nav>
