<header>
    <div class="container" >
        <div class="row head-row" >
            <div class="col-xs-6">
                <span class="font"><?php echo H("南开大学大型仪器管理平台");?></span><br/>
                <span class="font-en"><?php echo H("NANKAI UNIVERSITY");?></span>
            </div>
			<div class="col-xs-2 pull-right">
				<br/>
				<span>
					<?php echo isset($_SESSION['username'])?$_SESSION['username'].' <a href="'.URL('login/logout').'">登出</a>':'<a href="login">登录</a>';?>
				</span>
			</div>
        </div>
    </div>
</header>
