<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8"/>
<title><?=H($title)?></title>
<base href="<?=H(URL('/'))?>"/>
<link href="<?=H(RURL('bootstrap.css','css'))?>" rel="stylesheet"/>
<link href="<?=H(RURL('bootstrap-datetimepicker.css','css'))?>" rel="stylesheet"/>
<link href="<?=H(RURL('font-awesome.css','css'))?>" rel="stylesheet"/>
<link href="<?=H(RURL('summernote.css','css'))?>" rel="stylesheet"/>
<link href="<?=H(RURL('admin.css','css'))?>" rel="stylesheet"/>
<script src="<?=H(RURL('jquery.js','js'))?>"></script>
<script src="<?=H(RURL('bootstrap.js','js'))?>"></script>
<script src="<?=H(RURL('summernote.js','js'))?>"></script>
<script src="<?=H(RURL('moment.js','js'))?>"></script>
<script src="<?=H(RURL('bootstrap-datetimepicker.js','js'))?>"></script>
</head>
<body>
	<div class="header-top"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12"><?= $header?></div>
		</div>
	</div>
	<div class="container main">
		<div class="row">
			<div class="col-md-3"><?= $aside?></div>
			<div class="col-md-9"><?= $main?></div>
		</div>
	</div>

</body>
</html>
