@import "inc/basecolor.less";
@import "inc/bootstrap/mixins";
@import "inc/retina.less";

body{
	font-family: "Lantinghei SC","Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,sans-serif;
	background: #F1EFF1;
}
	.header-top{
		height:5px;
		background:#982C76;
	}
header{
	.head-row{
		margin-top: 20px;
		.font{

			font-size:26px;
		}
		.font-en{
			margin-left: 5px;
			font-size:14px;
		}
		.font,.font-en{
			color:#57003D;
		}

	}
}
nav{
	margin-top:11px;	
	margin-left:20px;
	width:80%;

	li.active > a{
		background-color:#D59FC2;
		border-left:3px solid #741155;
	 	color:black;
	}
	.nav_title > a,.nav_title > a:hover{
		background-color:#9A006F;
		border-top:#720052;
		text-align:center;
		color:white;
	}
	li >a{
		color:#A31B7C;
	}
	.nav_item >a:hover {
		border-left:3px solid #741155;

	}
	.nav_item >a{
		background:#FFF3FB;
	}
	li.nav_title{
		margin-top:14px;
	}
}
main{
	width:95%;
	h3{
		margin-left:-15px;
	}
	.pager{
		li>a,lia:hover{
			background-color:@purpleColor;
			color:#fff;
		}
	}
	button[type*='submit'] {
		background-color:@purpleColor;
		color:#fff;
	}
}
body  > .main{
	min-height:540px;
	margin-top:10px;
	background-color:white;
	border-radius:5px;
	.row{
		margin-top:5px;
	}
	padding-bottom:20px;

}
footer{
	margin-top:20px;
	background:@purpleColor;
	text-align:center;
	height:20px;
	div{
		p{
			inline-height:30px;
		}
	}
}
