@import 'admin.less';
main{
	height:540px;
	.panel{
		.panel-heading{
			background-color:@purpleColor;
			color:#fff;
			.panel-title{
				text-align:center;
			}
		}

        width:50%;
        min-width:400px;
		margin-top:110px;
		a {
			line-height:35px;
		}
		button[type*='submit']{
			background-color:@purpleColor;
			color:#fff;
		}
	}
}
