body {
  font-family: "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #F1EFF1;
}
.header-top {
  height: 5px;
  background: #982C76;
}
header .head-row {
  margin-top: 20px;
}
header .head-row .font {
  font-size: 26px;
}
header .head-row .font-en {
  margin-left: 5px;
  font-size: 14px;
}
header .head-row .font,
header .head-row .font-en {
  color: #57003D;
}
nav {
  margin-top: 25px;
  margin-left: 20px;
  width: 80%;
}
nav .nav li.active > a {
  background-color: #D59FC2;
  border-left: 3px solid #741155;
  color: black;
}
nav .nav .nav_title > a {
  background-color: #9A006F;
  border-top: #720052;
  text-align: center;
  color: white;
}
nav .nav li > a {
  color: #A31B7C;
}
nav .nav .nav_item > a:hover {
  border-left: 3px solid #741155;
}
nav .nav .nav_item > a {
  background: #FFF3FB;
}
main {
  width: 95%;
}
main h3 {
  margin-left: -15px;
}
main .pager li > a,
main .pager lia:hover {
  background-color: #8e4678;
  color: #fff;
}
main button[type*='submit'] {
  background-color: #8e4678;
  color: #fff;
}
body > .main {
  min-height: 540px;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 20px;
}
body > .main .row {
  margin-top: 5px;
}
footer {
  margin-top: 20px;
  background: #8e4678;
  text-align: center;
  height: 20px;
}
footer div p {
  inline-height: 30px;
}
main {
  height: 540px;
}
main .panel {
  min-width: 400px;
  width: 500px;
  margin-top: 110px;
}
main .panel .panel-heading {
  background-color: #8e4678;
  color: #fff;
}
main .panel .panel-heading .panel-title {
  text-align: center;
}
main .panel a {
  line-height: 35px;
}
main .panel button[type*='submit'] {
  background-color: #8e4678;
  color: #fff;
}
