body {
  font-family: "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f2f0f3;
  /* .mainbody .container .login-box .login-form .form-group .btn-group .btn-default:focus{
		border:2px solid red;
	}*/
}
body #wrap {
  width: 948px;
  -webkit-box-shadow: -1px 0px 2px #dbd8df, 1px 0px 2px #dbd8df;
  box-shadow: -1px 0px 2px #dbd8df, 1px 0px 2px #dbd8df;
  border-radius: 10px;
  padding: 0px;
  margin: 5px auto 40px;
}
#header {
  min-width: 960px;
}
#header .header-top {
  width: 100%;
  height: 5px;
  background: #8e4678;
}
#header .container-header {
  width: 948px;
  margin: 0 auto;
}
#header .container-header .head-row {
  margin-top: 20px;
}
#header .container-header .head-row .font {
  font-size: 26px;
}
#header .container-header .head-row .font-en {
  margin-left: 5px;
  font-size: 14px;
}
#header .container-header .navbar-form {
  padding: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  margin: 0px;
}
#header .container-header .search-wrap {
  padding-right: 0px;
}
#header .container-header .search-wrap .search {
  width: 250px;
  height: 40px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
#header .container-header .search-wrap .search .search-input {
  background: #dbd8df;
  border: 0px solid transparent;
  -webkit-box-shadow: 0px 2px 2px #958d96 inset;
  box-shadow: 0px 2px 2px #958d96 inset;
  height: 40px;
  width: 250px;
  margin-left: -15px;
  color: #847387;
}
#header .container-header .search-wrap .search .search-input:focus {
  border: 2px solid #8e4678;
  background: #fff;
  color: #847387;
  box-shadow: none;
}
#header .container-header .search-wrap .search .form-control::-moz-placeholder {
  color: #8a7c8d;
  opacity: 1;
}
#header .container-header .search-wrap .search .search-btn {
  background: transparent;
  border: 0px;
  box-shadow: none;
  height: 34px;
  float: right;
  position: relative;
  top: -34px;
  left: 15px;
}
#header .container-header .search-wrap .search .search-btn .glyphicon-search {
  color: #8a7c8d;
}
.navbar-style {
  height: 50px;
}
.navbar-style .container-nav {
  width: 948px;
  padding: 0px;
}
.navbar-style .container-nav .navbar-default {
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px 10px 0 0;
  border-bottom: 3px solid #683559;
  height: 50px;
  background: #8e4678;
  border-top: 1px solid #8e4678;
  border-left: 1px solid #8e4678;
  border-right: 1px solid #8e4678;
}
.navbar-style .container-nav .navbar-default .navbar-nav {
  padding-left: 0px;
  margin: 0px 0 0 136px;
  overflow: hidden;
}
.navbar-style .container-nav .navbar-default .navbar-nav li {
  text-align: center;
  width: 106px;
  display: inline;
  float: left;
}
.navbar-style .container-nav .navbar-default .navbar-nav li a {
  padding-top: 15px;
}
.navbar-style .container-nav .navbar-default .navbar-nav > .active > a,
.navbar-style .container-nav .navbar-default .navbar-nav > .active > a:hover {
  margin-top: -2px;
  background-color: #fff;
  color: #8e4678;
  border-bottom: 3px solid #dbd8df;
  border-top: 1px solid #dbd8df;
  height: 51px;
}
.navbar-style .container-nav .navbar-default .navbar-nav > li > a {
  color: #fff;
}
.footer .container {
  width: 948px;
  height: 116px;
  background: #8e4678;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 3px solid #683559;
}
.footer .container .footer-left {
  text-align: center;
  padding-top: 40px;
  height: 116px;
}
.footer .container .footer-left .footer-font {
  font-size: 20px;
  color: #441435;
}
.footer .container .footer-right {
  padding: 0px;
  height: 116px;
}
.footer .container .footer-right .footer-right-fonts {
  margin: 30px auto;
  margin-left: 100px;
}
.footer .container .footer-right .footer-right-fonts p {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  color: #441435;
}
.contact-mainbody .contact-container,
.notice-mainbody .contact-container,
.intro-mainbody .contact-container,
.contact-mainbody .notice-container,
.notice-mainbody .notice-container,
.intro-mainbody .notice-container,
.contact-mainbody .intro-container,
.notice-mainbody .intro-container,
.intro-mainbody .intro-container {
  background: #fff;
  width: 948px;
  padding: 40px 25px;
  border-left: 1px solid #dbd8df;
  border-right: 1px solid #dbd8df;
  min-height: 850px;
  border-bottom: 5px solid #dbd8df;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
}
.contact-mainbody .contact-container .title-row,
.notice-mainbody .contact-container .title-row,
.intro-mainbody .contact-container .title-row,
.contact-mainbody .notice-container .title-row,
.notice-mainbody .notice-container .title-row,
.intro-mainbody .notice-container .title-row,
.contact-mainbody .intro-container .title-row,
.notice-mainbody .intro-container .title-row,
.intro-mainbody .intro-container .title-row {
  border-bottom: 1px solid #dbd8df;
  -webkit-box-shadow: 0px 1px 0px #dbd8df;
  box-shadow: 0px 1px 0px #dbd8df;
  padding: 0px;
  margin: 0px;
}
.contact-mainbody .contact-container .title-row .title-font,
.notice-mainbody .contact-container .title-row .title-font,
.intro-mainbody .contact-container .title-row .title-font,
.contact-mainbody .notice-container .title-row .title-font,
.notice-mainbody .notice-container .title-row .title-font,
.intro-mainbody .notice-container .title-row .title-font,
.contact-mainbody .intro-container .title-row .title-font,
.notice-mainbody .intro-container .title-row .title-font,
.intro-mainbody .intro-container .title-row .title-font {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}
.contact-mainbody .contact-container .text-row,
.notice-mainbody .contact-container .text-row,
.intro-mainbody .contact-container .text-row,
.contact-mainbody .notice-container .text-row,
.notice-mainbody .notice-container .text-row,
.intro-mainbody .notice-container .text-row,
.contact-mainbody .intro-container .text-row,
.notice-mainbody .intro-container .text-row,
.intro-mainbody .intro-container .text-row {
  margin-top: 34px;
}
.contact-mainbody .contact-container .content-font,
.notice-mainbody .contact-container .content-font,
.intro-mainbody .contact-container .content-font,
.contact-mainbody .notice-container .content-font,
.notice-mainbody .notice-container .content-font,
.intro-mainbody .notice-container .content-font,
.contact-mainbody .intro-container .content-font,
.notice-mainbody .intro-container .content-font,
.intro-mainbody .intro-container .content-font {
  padding: 0px 75px;
  font-size: 14px;
  text-indent: 28px;
}
.contact-mainbody .contact-container .footer-font,
.notice-mainbody .contact-container .footer-font,
.intro-mainbody .contact-container .footer-font,
.contact-mainbody .notice-container .footer-font,
.notice-mainbody .notice-container .footer-font,
.intro-mainbody .notice-container .footer-font,
.contact-mainbody .intro-container .footer-font,
.notice-mainbody .intro-container .footer-font,
.intro-mainbody .intro-container .footer-font {
  text-align: right;
  margin-right: 68px;
}
.istop {
  color: #F00;
}
.search-mainbody .search-row {
  padding: 0px;
  margin-right: 0px;
}
.search-mainbody a,
.search-mainbody a:hover {
  color: #000;
  text-decoration: none;
}
.search-mainbody .search-container {
  background: #fff;
  width: 948px;
  padding: 50px 74px;
  border-left: 1px solid #dbd8df;
  border-right: 1px solid #dbd8df;
  border-bottom: 5px solid #dbd8df;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
}
.search-mainbody .search-container .search-header {
  padding: 0px;
  margin: 0px;
  min-width: 820px;
}
.search-mainbody .search-container .search-header .search-header-left-font {
  margin: 0px;
  padding: 5px 0px;
  font-size: 18px;
  font-weight: 600;
}
.search-mainbody .search-container .search-header-right {
  margin: 0px;
  padding: 0px;
}
.search-mainbody .search-container .search-header-right .dropdown-toggle-font {
  width: 216px;
  height: 36px;
  color: #000;
  border: 1px solid #8a7c8d;
  font-size: 16px;
  text-align: right;
}
.search-mainbody .search-container .search-header-right .caret-pos {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid;
  margin-left: 50px;
}
.search-mainbody .search-container .search-header-right .dropdown-menu-width {
  width: 216px;
}
.search-mainbody .search-container .box-content {
  padding: 0px;
  margin-top: 20px;
  width: 455px;
  height: 130px;
  margin-left: 15px;
}
.search-mainbody .search-container .box-content .row-base {
  padding: 0px;
  margin: 0px;
}
.search-mainbody .search-container .box-content .box-title {
  padding: 0px;
  margin: 0px;
  width: 373px;
  height: 20px;
  font-size: 15px;
  margin-bottom: 3px;
  font-weight: 600;
}
.search-mainbody .search-container .box-content .box-img {
  margin: 0px;
  padding: 0px;
  width: 96px;
}
.search-mainbody .search-container .box-content .box-des {
  width: 288px;
  margin-left: 10px;
}
.search-mainbody .search-container .box-content .box-des .box-pink-font {
  background: #BB6EA4;
  width: 54px;
  height: 28px;
  color: #fff;
  padding-top: 6px;
  padding-left: 9px;
  margin-left: -15px;
  font-size: 12px;
}
.search-mainbody .search-container .box-content .box-des .box-grey-font {
  background: #F7F7F7;
  width: 188px;
  height: 28px;
  margin-left: -25px;
  padding-top: 6px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search-mainbody .search-container .box-content .box-email {
  margin-top: 6px;
}
.search-mainbody .search-container .box-content .box-phone {
  margin-top: 6px;
}
.search-mainbody .search-container .loading-style {
  margin-top: 20px;
  margin-left: 10px;
  color: #737373;
  font-size: 16px;
  text-align: center;
}
.search-mainbody .search-container .loading-style .loading-style-img {
  margin-top: -2px;
}
.search-mainbody .search-container .loading-style .ending-style-img {
  width: 16px;
  height: 16px;
  margin-top: -2px;
}
.backtotop {
  border-radius: 5px;
  border: none;
  background-color: #bb6ea3;
  position: fixed;
  bottom: 10%;
  left: 50%;
  margin-left: 500px;
  text-align: center;
  width: 48px;
  height: 48px;
}
.backtotop span {
  width: 100%;
  height: 96px;
  overflow: hidden;
}
.backtotop span div {
  background-color: #bb6ea3;
  height: 3px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.backtotop span i {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 45px;
}
.backtotop:hover {
  background-color: #8e4679;
}
.notices-mainbody a,
.download-mainbody a,
.notices-mainbody a:hover,
.download-mainbody a:hover {
  color: #000;
  text-decoration: none;
}
.notices-mainbody .notices-container,
.download-mainbody .notices-container,
.notices-mainbody .download-container,
.download-mainbody .download-container {
  background: #fff;
  width: 948px;
  padding: 40px 25px;
  border-left: 1px solid #dbd8df;
  border-right: 1px solid #dbd8df;
  min-height: 850px;
  border-bottom: 5px solid #dbd8df;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
}
.notices-mainbody .notices-container .title-row,
.download-mainbody .notices-container .title-row,
.notices-mainbody .download-container .title-row,
.download-mainbody .download-container .title-row {
  border-bottom: 1px solid #dbd8df;
  -webkit-box-shadow: 0px 1px 0px #dbd8df;
  box-shadow: 0px 1px 0px #dbd8df;
  height: 40px;
  padding: 0px;
  margin: 0px;
}
.notices-mainbody .notices-container .title-row .title-font,
.download-mainbody .notices-container .title-row .title-font,
.notices-mainbody .download-container .title-row .title-font,
.download-mainbody .download-container .title-row .title-font {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}
.notices-mainbody .notices-container .istop,
.download-mainbody .notices-container .istop,
.notices-mainbody .download-container .istop,
.download-mainbody .download-container .istop {
  color: #F00;
}
.notices-mainbody .notices-container .table-style,
.download-mainbody .notices-container .table-style,
.notices-mainbody .download-container .table-style,
.download-mainbody .download-container .table-style {
  padding: 0px 27px;
}
.notices-mainbody .notices-container .table-style td,
.download-mainbody .notices-container .table-style td,
.notices-mainbody .download-container .table-style td,
.download-mainbody .download-container .table-style td {
  padding-left: 30px;
  border: 0px;
  font-size: 14px;
  height: 52px;
  padding-top: 17px;
}
.equipments-mainbody a,
.equipments-mainbody a:hover {
  color: #000;
  text-decoration: none;
}
.equipments-mainbody .equipments-container {
  background: #fff;
  padding: 0px;
  border-left: 1px solid #dbd8df;
  border-right: 1px solid #dbd8df;
  min-height: 850px;
  width: 948px;
  border-bottom: 5px solid #dbd8df;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
}
.equipments-mainbody .equipments-container .sidebar-offcanvas {
  margin-top: 20px;
  margin-left: 36px;
}
.equipments-mainbody .equipments-container .sidebar-offcanvas .list-group-item {
  width: 228px;
  height: 38px;
  color: #625447;
  padding-left: 30px;
}
.equipments-mainbody .equipments-container .sidebar-offcanvas .list-title {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 228px;
  height: 53px;
  background: #BB6EA4;
  font-size: 18px;
  color: #fff;
  border: 1px solid #adb3c0;
  text-align: center;
  padding-top: 13px;
}
.equipments-mainbody .equipments-container .sidebar-offcanvas a.list-group-item.active,
.equipments-mainbody .equipments-container .sidebar-offcanvas a.list-group-item.active:hover,
.equipments-mainbody .equipments-container .sidebar-offcanvas a.list-group-item.active:focus {
  background-color: #E9E8E6;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 4px solid #FF981B;
  z-index: 2;
  padding-left: 25px;
}
.equipments-mainbody .equipments-container .mainbody-right {
  width: 608px;
  margin-left: 23px;
}
.equipments-mainbody .equipments-container .mainbody-right .equipments-loading {
  text-align: center;
  margin: 50px 0px;
}
.equipments-mainbody .equipments-container .mainbody-right .mainbody-right-more {
  height: 53px;
  width: 608px;
  margin-top: 20px;
  margin-right: 10px;
  padding-top: 20px;
}
.equipments-mainbody .equipments-container .mainbody-right .mainbody-right-more .mainbody-right-more-font > a,
.equipments-mainbody .equipments-container .mainbody-right .mainbody-right-more .mainbody-right-more-font > a:hover {
  color: #683559;
  text-decoration: none;
}
.equipments-mainbody .equipments-container .mainbody-right .mainbody-right-more-font {
  margin-left: 550px;
  color: black;
  font-size: 18px;
}
.equipments-mainbody .equipments-container .mainbody-right .mainbody-right-box {
  width: 608px;
  border: 2px solid #864E78;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 0px;
  padding: 18px 0px;
}
.equipments-mainbody .equipments-container .mainbody-right .mainbody-right-box .box-content {
  margin-top: 20px;
  margin-left: 20px;
  width: 508px;
  height: 130px;
}
.equipments-mainbody .equipments-container .mainbody-right .mainbody-right-box .box-content .box-number {
  width: 114px;
  height: 130px;
  font-size: 26px;
  padding: 55px 35px;
}
.equipments-mainbody .equipments-container .mainbody-right .mainbody-right-box .box-content .box-title {
  width: 494px;
  height: 20px;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 600;
}
.equipments-mainbody .equipments-container .mainbody-right .mainbody-right-box .box-content .row-width {
  width: 400px;
}
.equipments-mainbody .equipments-container .mainbody-right .mainbody-right-box .box-content .box-img {
  margin: 0px;
  padding: 0px;
  width: 104px;
  height: 104px;
}
.equipments-mainbody .equipments-container .mainbody-right .mainbody-right-box .box-content .box-des {
  width: 262px;
  margin-left: 20px;
}
.equipments-mainbody .equipments-container .mainbody-right .mainbody-right-box .box-content .box-des .box-pink-font {
  background: #BB6EA4;
  width: 58px;
  height: 30px;
  color: #fff;
  padding-top: 6px;
  padding-left: 10px;
  margin-left: -15px;
  font-size: 13px;
}
.equipments-mainbody .equipments-container .mainbody-right .mainbody-right-box .box-content .box-des .box-grey-font {
  background: #F7F7F7;
  width: 196px;
  height: 30px;
  margin-left: -15px;
  padding-top: 7px;
  padding-left: 10px;
  font-size: 13px;
  font-weight: 600;
}
.equipments-mainbody .equipments-container .mainbody-right .mainbody-right-box .box-content .box-email {
  margin-top: 7px;
}
.equipments-mainbody .equipments-container .mainbody-right .mainbody-right-box .box-content .box-phone {
  margin-top: 7px;
}
.equipment-mainbody .equipment-container {
  background: #fff;
  width: 948px;
  padding: 38px 55px;
  border-left: 1px solid #dbd8df;
  border-right: 1px solid #dbd8df;
  border-bottom: 5px solid #dbd8df;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
}
.equipment-mainbody .equipment-container .box {
  width: 838px;
  border: 2px solid #683559;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.equipment-mainbody .equipment-container .box .equipment-loading {
  text-align: center;
  margin: 50px 0px;
}
.equipment-mainbody .equipment-container .box .title-font {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
}
.equipment-mainbody .equipment-container .box .box-content {
  margin-top: 30px;
  width: 838px;
  padding: 0 30px;
}
.equipment-mainbody .equipment-container .box .box-content .box-img {
  margin-left: 10px;
  padding: 0px;
  width: 221px;
  height: 221xpx;
}
.equipment-mainbody .equipment-container .box .box-content .box-des {
  width: 262px;
  margin-left: 20px;
}
.equipment-mainbody .equipment-container .box .box-content .box-des .box-pink-font {
  background: #BB6EA4;
  width: 66px;
  height: 30px;
  color: #fff;
  padding-top: 6px;
  padding-left: 8px;
  margin-left: -15px;
  font-size: 13px;
}
.equipment-mainbody .equipment-container .box .box-content .box-des .box-grey-font {
  background: #F7F7F7;
  width: 464px;
  height: 30px;
  margin-left: -10px;
  padding-top: 8px;
  padding-left: 10px;
  font-size: 13px;
  font-weight: 600;
}
.equipment-mainbody .equipment-container .box .box-content .box-email,
.equipment-mainbody .equipment-container .box .box-content .box-phone,
.equipment-mainbody .equipment-container .box .box-content .box-phone,
.equipment-mainbody .equipment-container .box .box-content .box-factory,
.equipment-mainbody .equipment-container .box .box-content .box-type,
.equipment-mainbody .equipment-container .box .box-content .box-standard {
  margin-top: 8px;
}
.equipment-mainbody .equipment-container .box .mark-row {
  margin-top: 30px;
}
.equipment-mainbody .equipment-container .box .mark-row .mark-box {
  margin-left: 275px;
  width: auto;
}
.equipment-mainbody .equipment-container .box .mark-row .mark-box .mark-title {
  font-size: 13px;
  font-weight: 600;
}
.equipment-mainbody .equipment-container .box .mark-row .mark-box .mark-content {
  width: 500px;
  margin-top: 5px;
  font-size: 13px;
  margin-left: 13px;
}
.index-mainbody .container-index {
  background: #fff;
  width: 948px;
  padding: 0px;
  /*	.tju-entry{
			margin-top: 18px;
			padding-top: 18px;
			padding-left:28px;
			height: 76px;
			width: 223px;
			border-bottom: 3px solid @midGreyColor;
			background: @lesslightGreyColor;
			.border-top-radius(0px);
			.border-bottom-radius(0px);

			.tjy-img{
				width:65px;
			}
			.tjy-img-size{
				width: 39px;
				height: 39px;
				margin-left: 5px;
			}
			#tjulogo{
				.at2x('../../assets/img/tjulogo1.png',39px,39px);
			}
			.tju-font{
				font-size: 15px;
				margin-top:10px;
			}
		}*/
}
.index-mainbody .container-index .shuffling-img #carousel-example-generic {
  margin-left: 18px;
  margin-top: 15px;
  width: 671px;
}
.index-mainbody .container-index .shuffling-img .carousel-indicators li {
  background-color: #777;
  border: 1px solid #777;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  width: 10px;
}
.index-mainbody .container-index .shuffling-img .carousel-indicators .active {
  background-color: #8e4678;
  border: 1px solid #8e4678;
  height: 10px;
  margin: 2;
  width: 10px;
}
.index-mainbody .container-index .login-wrap {
  left: -28px;
}
.index-mainbody .container-index .login-wrap .login-box {
  background: #f9f7fc;
  height: 380px;
  width: 223px;
  margin-right: 18px;
  margin-top: 15px;
  border-bottom: 3px solid #adb3c0;
  padding: 30px 20px;
}
.index-mainbody .container-index .login-wrap .login-box label {
  text-indent: 12px;
}
.index-mainbody .container-index .login-wrap .login-box .current-user img {
  margin-left: 35px;
  margin-bottom: 20px;
}
.index-mainbody .container-index .login-wrap .login-box .current-user h4 {
  margin-left: 50px;
  margin-bottom: 30px;
}
.index-mainbody .container-index .login-wrap .login-box .current-user .form-group {
  margin-top: 20px;
}
.index-mainbody .container-index .login-wrap .login-box .current-user .form-group .btn-primary {
  margin-top: 10px;
  background-color: #8e4678;
  border: #8e4678;
  font-size: 14px;
  padding: 15px 0px;
}
.index-mainbody .container-index .login-wrap .login-box .current-user .form-group .btn-default {
  background-color: #ADADAD;
  border: #ADADAD;
  padding: 14px 0px 34px;
}
.index-mainbody .container-index .login-wrap .login-box .title-font {
  margin-left: 25px;
  font-size: 16px;
}
.index-mainbody .container-index .login-wrap .login-box .form-control {
  margin-top: 5px;
  padding: 2px 12px;
}
.index-mainbody .container-index .login-wrap .login-box .selectpicker-less {
  border: 0px;
  height: 30px;
  width: 182px;
  margin-top: 5px;
  border: 2px solid #DBD8DF;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
  background: #fff;
}
.index-mainbody .container-index .login-wrap .login-box .btn-default {
  border: 0px;
  height: 30px;
  width: 182px;
  margin-top: 5px;
  border: 2px solid #DBD8DF;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
  padding: 0px;
  background: #fff;
}
.index-mainbody .container-index .login-wrap .login-box .btn-default:hover {
  background: #fff;
}
.index-mainbody .container-index .login-wrap .login-box .dropdown-menu.open {
  width: 182px;
  border: 1px solid #ccc;
}
.index-mainbody .container-index .login-wrap .login-box .open > .btn-default {
  border: 2px solid #8e4678;
}
.index-mainbody .container-index .login-wrap .login-box .bootstrap-select.btn-group .dropdown-menu {
  min-width: 182px;
  text-indent: -8px;
}
.index-mainbody .container-index .login-wrap .login-box .bootstrap-select .btn.dropdown-toggle:focus {
  outline: 0 !important;
  box-shadow: none !important;
  outline-indent: 0;
}
.index-mainbody .container-index .login-wrap .login-box .dropdown-menu li a:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.index-mainbody .container-index .login-wrap .login-box .dropdown-menu li a:hover {
  background: #8e4678;
}
.index-mainbody .container-index .login-wrap .login-box .user-font,
.index-mainbody .container-index .login-wrap .login-box .user-password {
  margin-top: 10px;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 0px;
}
.index-mainbody .container-index .login-wrap .login-box .form-group {
  padding: 0px;
  margin: 0px;
}
.index-mainbody .container-index .login-wrap .login-box .login-btn {
  text-align: center;
  margin-top: 30px;
}
.index-mainbody .container-index .login-wrap .login-box .login-btn .btn-default {
  width: 94px;
  height: 34px;
  border: 0px;
  background: #8e4678;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom: 3px solid #683559;
  color: #fff;
}
.index-mainbody .container-index .login-wrap .login-box .login-btn .login-user-btn a {
  color: #ba8cad;
}
.index-mainbody .container-index .login-wrap .login-box #inputUser,
.index-mainbody .container-index .login-wrap .login-box #inputPassword,
.index-mainbody .container-index .login-wrap .login-box .form-control {
  width: 182px;
  height: 30px;
  border: 2px solid #dbd8df;
  box-shadow: none;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.index-mainbody .container-index .login-wrap .login-box #inputUser:focus,
.index-mainbody .container-index .login-wrap .login-box #inputPassword:focus,
.index-mainbody .container-index .login-wrap .login-box .form-control:focus {
  border: 2px solid #8e4678;
}
.index-mainbody .container-index .tju-entry {
  margin-top: 18px;
  padding-top: 18px;
  padding-left: 28px;
  height: 76px;
  width: 223px;
  border: 0px;
  border-bottom: 3px solid #adb3c0;
  background: #f9f7fc;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.index-mainbody .container-index .tju-entry .tjy-img {
  width: 39px;
  height: 39px;
  margin-left: -20px;
}
.index-mainbody .container-index .tju-entry span {
  font-size: 15px;
  color: #000;
}
.index-mainbody .container-index .tju-entry:hover {
  background: #F3F4F6;
}
.index-mainbody .container-index .notice-row {
  margin: 0px;
  padding: 0px;
}
.index-mainbody .container-index .notice-title {
  width: 202px;
  height: 255px;
  padding-top: 110px;
  text-align: center;
}
.index-mainbody .container-index .notice-title .notice-title-font {
  font-size: 16px;
}
.index-mainbody .container-index .notice-title .notice-title-en-font {
  font-size: 14px;
}
.index-mainbody .container-index .notice-title .notice-title-en-font a,
.index-mainbody .container-index .notice-title .notice-title-en-font a:hover {
  color: #934D7F;
  text-decoration: none;
}
.index-mainbody .container-index .notice-contents {
  margin-top: 8px;
  height: 260px;
  padding: 0px;
}
.index-mainbody .container-index .notice-contents .notice-content {
  margin-top: 8px;
  font-size: 14px;
  padding: 18px 15px;
  color: #000;
  width: 728px;
  border-left: 6px solid #adb3c0;
  height: 54px;
  background: #f3f4f6;
}
.index-mainbody .container-index .notice-contents .notice-content > a {
  color: #000;
}
.index-mainbody .container-index .notice-contents .notice-content > a:hover {
  color: #000;
  text-decoration: none;
}
.index-mainbody .container-index .notice-contents .notice-content:hover {
  margin-top: 8px;
  font-size: 14px;
  padding: 18px 15px;
  width: 728px;
  border-left: 6px solid #8e4678;
  height: 54px;
  background: #f9f7fc;
}
