<?php if($equipments) {
		foreach ($equipments as $equipment):
?>

			<div class="col-xs-6 box-content">
				<div class="row box-title">
					<span><a href="equipment?id=<?php echo H($equipment['id']);?>"><?php echo H($equipment['name'])?></a></span>
				</div>
				<div class="row row-base">
					<div class="col-xs-3 box-img">
						<img class="box-img" src="<?php echo H($equipment['icon128_url'])?>" alt="" >
					</div>
					<div class="col-xs-9 box-des">
						<div class="row box-user">
								<div class="col-xs-3 box-pink">
									<div class="box-pink-font"> 联系人</div>
								</div>
								<div class="col-xs-9">
									<div class="box-grey-font"> <?php echo H($equipment['contact'])?></div>
								</div>
						</div>
						<div class="row box-email">
								<div class="col-xs-3 box-pink">
									<div class="box-pink-font">邮箱</div>
								</div>
								<div class="col-xs-9">
									<div class="box-grey-font"> <?php echo H($equipment['email'])?> </div>
								</div>
						</div>
						<div class="row box-phone">
								<div class="col-xs-3 box-pink">
									<div class="box-pink-font">电话</div>
								</div>
								<div class="col-xs-9">
									<div class="box-grey-font"><?php echo H($equipment['phone'])?> </div>
								</div>
						</div>
					</div>
				</div>
			</div>

<?php endforeach;} ?>
