<div class="mainbody search-mainbody" >
    <div class="container search-container">
        <div class="row search-header">
            <div class="col-xs-6 search-header-left-font">
                
            </div>
            <div class="col-xs-6 search-header-right">
                    <div class="btn-group pull-right">
                        <a class="btn dropdown-toggle dropdown-toggle-font" data-toggle="dropdown" href="#">
                        <?= H(T('仪器分类'))?>
                           <span class="caret caret-pos"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-width">
                            <li><a href="search?id=all"><?= H(T('全部'))?></a></li>
                            
                        </ul>
                    </div>
            </div>
        </div>
        <div id ="search_box" class="row search-row" style="width:948px;">
        </div>

        <div class="loading search-row">
            <div  class="col-xs-12 loading-style">
                    <img  class="loading-style-img" src="assets/img/loading.gif"><?= H(T('正在加载数据'))?>
            </div>
        </div>
    </div>
</div>
<div id="backtotop" class="backtotop btn-default" style="display:none">
    <span>
        <i class="fa fa-chevron-up"></i>
    </span>
</div>
<script id="eq_item_tmpl" type="text/text">
<div class="col-xs-6 box-content">
    <div class="row box-title">
        <span><a href="__HREF__">__NAME__</a></span>
    </div>
    <div class="row row-base">
        <div class="col-xs-3 box-img">
            <img class="box-img" src="__ICON__" alt="__ALT__" >
        </div>
        <div class="col-xs-9 box-des">
            <div class="row box-user">
                <div class="col-xs-3 box-pink"><div class="box-pink-font"> 联系人</div></div>
                <div class="col-xs-9"><div class="box-grey-font">__CONTACT__</div></div>
            </div>
            <div class="row box-email">
                <div class="col-xs-3 box-pink"><div class="box-pink-font">邮箱</div></div>
                <div class="col-xs-9"><div class="box-grey-font">__EMAIL__</div></div>
            </div>
            <div class="row box-phone">
                <div class="col-xs-3 box-pink"><div class="box-pink-font">电话</div></div>
                <div class="col-xs-9"><div class="box-grey-font">__PHONE__</div></div>
            </div>
        </div>
    </div>
</div>
</script>
<script>

    require(['jquery'], function($){
        require(['backtotop']);
        $.getJSON(
			'ajax/search/get_categories',
            {id:'<?php echo H($id)?>',searchtext:'<?php echo H($searchtext)?>'},
            function (response) { 
                $('.dropdown-menu-width').append(response.view);
                $('.search-header-left-font').append(response.categoryhtml);
            });

        var pageNum = 0,pageSize = 10;
        var isLoadingEnd = false,ajaxing = false;
        var preLoadData = [];
        var count=0;    
        $(document).ready(function(){
            loadEquipments();
            $(window).scroll(function(){
                if(isUserAtBottom()){
                    loadEquipments();
                }
            });
            $("#equipment-select").change(function(){
                var type_id = $(this).val();
                location.href = "/equipments?id=" + type_id ;
            });
        });

        function isUserAtBottom(){
            var offsetBottom = $(document).height() - $(document).scrollTop() - $(window).height();
            if(offsetBottom<30){
                return true;
            }
            return false;
        }

        function loadEquipments () {
            $('#eq-result').show();
            if(ajaxing) return ;
            ajaxing = true;
            if(preLoadData.length>0){
                var template , id, item, html = "";
                for(id in preLoadData){
                    item = preLoadData[id];
                    template = $("#eq_item_tmpl").html();
                    template = template.replace(/__HREF__/g, '/equipment?id='+item.id); 
                    template = template.replace("__NAME__", item.name);
                    template = template.replace("__ALT__", item.name);  
                    template = template.replace("__PHONE__", item.phone);     
                    template = template.replace("__CONTACT__", item.contact);   
                    template = template.replace("__ICON__", item.icon128_url); 
                    template = template.replace("__EMAIL__", item.email);   
                    html += template ;
                }
                $('#search_box').append(html);
            }
            if (isLoadingEnd === true) {
                $(window).unbind('scroll');
                return;
            }else{
                $.ajax({
                    url: "ajax/search/get_equipments",
                    data: {
                        id:"<?php echo $id;?>",
                        searchtext:"<?php echo $searchtext;?>",
                        counter:pageNum,
                        perpage:pageSize
                    }
                }).done(function (data) {
                    ajaxing = false;
                    preLoadData = data;

                    if(pageNum === 0 && preLoadData.length === 0){
                        $('.loading-style').html('没有相关仪器');
                        isLoadingEnd = true;
                    }else{
                        $('.loading-style').html('<img src="/assets/img/loading.gif"/>下拉加载仪器');
                    }
                    if(preLoadData.length < pageSize && pageNum != 0 ){
                        $('.loading-style').html('仪器加载完毕');
                        isLoadingEnd = true;
                    }

                    if(pageNum++ === 0){
                        loadEquipments();
                    }   
                });
            }
        }


    });

</script>
