<?php 
	$contact_title = "南开大学实验室设备处";
	$contact_text = array(
		'1' => "电话：022-23503143、022-23508813",
		'2' => "传真：022-23503143",
		'3' => "邮箱：nkyqpt@nankai.edu.cn"
		);
?>


<div class="mainbody contact-mainbody" >
	<div class="container contact-container">
		<div class="row title-row"> 
			<div class="col-xs-12 title-font">
				<?php echo H($contact_title);?>
			</div>
		</div>
		<div class="row text-row"> 
			<?php foreach ($contact_text as $value) :?>
			<div class="col-xs-12 content-font">
				<?php echo H($value)."<br/>"; ?>
			</div>
			<?php endforeach; ?>
		</div>
	</div>  	
</div>