<div class="login-box">
    <div class="current-user">
        <div class="center-block">
            <?php echo $img;?>
            <h4><?php echo $name;?></h4>
            <div class="form-group">
                <a href="<?= $url;?>" class="btn btn-primary btn-lg btn-block" role="button">
                <?php echo T("南开大学大型仪器管理平台")?>
                </a>
            </div>
            <div class="form-group">
                <a href="<?= $url.'logout';?>" class="btn btn-lg btn-block btn-default" role="button">
                    <?php echo T("退出")?>
                </a>
            </div>
            
        </div>
    </div>
</div>