<?php 
	$download_title = "文件下载";
$download_text = array(
		'仪器管理系统微信端使用说明.pdf'=>"仪器管理系统微信端使用说明(pdf版)",
		'南开大学仪器平台充值中心使用手册.pdf'=>"南开大学仪器平台充值中心使用手册 (pdf版)",
		'南开大学大型仪器基本信息登记表_2.doc'=>"南开大学大型仪器基本信息登记表 (doc版)",
		'天南大互通预约共享平台课题组申请表.doc' => "天南大互通预约共享平台课题组申请表 (doc版)",
		'天津大学大型仪器平台仪器使用计划表.doc' => "天津大学大型仪器平台仪器使用计划表 (doc版)",
		'南开大学大型仪器平台仪器使用计划表.doc' => "南开大学大型仪器平台仪器使用计划表 (doc版)",
		'南开大学大型仪器使用申请表.doc' => "南开大学大型仪器使用申请表 (doc版)",
		'仪器使用手册.pdf' => "仪器使用手册 (pdf版)",
		'软件客户端使用指南.pdf' => "软件客户端使用指南 (pdf版)",
		'硬件控制器使用指南.pdf' => "硬件控制器使用指南 (pdf版)",
		'仪器使用预约指南.pdf' => "仪器使用预约指南 (pdf版)",
		'仪器送样预约指南.pdf' => "仪器送样预约指南 (pdf版)",
		'仪器收费标准收集表.doc' => "仪器收费标准收集表 (doc版)",
		'机主使用讲解ppt.pdf' => "机主使用讲解ppt (pdf版)",
		'机主使用手册.pdf' => "机主使用手册 (pdf版)",
		'机主常见问题解答.pdf' => "机主常见问题解答 (pdf版)",
		'机主故障排查手册.pdf' => "机主故障排查手册 (pdf版)",
	);
?>
<div class="mainbody download-mainbody" >
	<div class="container download-container">
		<div class="row title-row"> 
			<div class="col-xs-12 title-font">
				<?php echo H($download_title);?>
			</div>
		</div>
		<div class="row "> 
			<div class="col-xs-12 table-style">
				<table class="table table-striped">
					<tr></tr>
					<?php foreach ($download_text as $key => $value) :?>
					<tr>
						<td><a href="assets/download_files/<?php echo H($key);?>"> <?php echo H($value); ?></a></td>
					</tr>
					<?php endforeach; ?>
				</table>
			</div>
		</div>
	</div>  	
</div>
