<main>
	<div class="container">
		<div class="panel panel-default center-block">
			<div class="panel-heading">
				<h3 class="panel-title">忘记密码</h3>
			</div>
			<div class="panel-body">
			<form class="form-horizontal" method="post" action="<?=URL('login/findpwd')?>">
					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">邮箱</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" width="200" name="email" id="email"  placeholder="使用注册邮箱">
                            <div class="help-block with-errors"><?php echo ($form['_errors'])?$form['_errors']['email']:''?></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 col-sm-offset-2 ">
							<button type="submit" class="btn btn-default">找回</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
