<div class="header">
    <div class="header-top"></div>
    <div class="container container-header" >
        <div class="row head-row" >
            <div class="col-xs-6">
                <span class="font"><?php echo H($site_name_zh);?></span><br/>
                <span class="font-en"><?php echo H($site_name_en);?></span>
            </div>
            <div class="col-xs-6 search-wrap">
                <form method="post" action="search" class="navbar-form" role="search" name="search">
                    <div class="search pull-right">
                        <div class="col-xs-12 form-group search-block">
                            <input type="text"  class="form-control search-input" name="searchtext"  placeholder="搜索仪器" id="search-input"  >
                            <button type="submit" class="btn search-btn">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
