<div class="mainbody index-mainbody" >
	<div class="container container-index">
		<div class="row">
		  	<div class="col-xs-9 shuffling-img">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
					    <div class="item active">
					      	<img src="assets/img/600M核磁.jpg" alt="">
					    </div>
					  	<div class="item">
				          	<img src="assets/img/偏光显微镜.jpg" alt="">
	         		 	</div>
	         		   	<div class="item">
				          	<img src="assets/img/液质联用仪.png" alt="">			        
	         		 	</div>
					</div>
				</div>
		  	</div>
		  	<div class="col-xs-3 login-wrap">
		  		<?= V('loginbox',array('login_url'=>$login_url)) ?>
		  		<div>
					<a href="http://yiqi.tju.edu.cn" class="btn tju-entry" > 
						<img class="tjy-img" data-retina="true" src="../../assets/img/tjulogo1.png">&nbsp;&nbsp;
						<span class="tju-font"><?php echo H(T("天津大学仪器平台"))?></span>
					</a>
				</div>
				<!-- <div  onclick="window.open('http://yiqi.tju.edu.cn')" class=" btn tju-entry">
					<div class='row'>
						<div id="tjulogo" class="col-xs-4 tjy-img-size" >
						</div>
						<div class="col-xs-8 tju-font">
							天津大学仪器平台
						</div>
					</div>
				</div> -->
		  	</div>
		</div>

		<div class="row notice-row">
			<div class="col-xs-4 notice-title" >
				<span class="notice-title-font"><?php echo H(T("平台公告"))?></span><br/>
				<span class="notice-title-en-font"><a href="notices">more</a></span>
			</div>
			<div class="col-xs-8 notice-contents">
				<?php foreach ($notices as $key=>$value) :?>
					<div class="notice-content" >
						<a href="notice?id=<?php echo H($value['content'])?>">
						<?php echo H($value['title']." （".date("Y年m月d日",strtotime($value['date']))."）");?></a>
					</div>
				<?php endforeach?>
			</div>
		</div>
	</div>
</div>

<div class="footer">
    <div class="container" >
        <div class="row">
            <div class="col-xs-6 footer-left">
                <span class="footer-font"><?php echo H(T("联系我们：南开大学实验室设备处"))?></span>
            </div>
            <div class="col-xs-6 footer-right">
                <div class="footer-right-fonts">
                    <p><?php echo H(T("电话：022-23503143、022-23508813"))?></p>
                    <p><?php echo H(T("传真：022-23503143"))?></p>
                    <p><?php echo H(T("邮箱：nkyqpt@nankai.edu.cn"))?></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
	/*require(['jquery'], function($){
		require(['bootstrap-select', 'css!../css/bootstrap-select'], function(){
       	$('.selectpicker').selectpicker();
   		});
	});*/
</script>
