<?php 
	$intro_title = "平台简介";
	$intro_text = array(
		'1' => "南开大学大型仪器管理平台是基于校园信息化管理平台，通过统一身份认证，集信息化、自动化、网络化管理于一体的大型仪器管理系统，可实时在线反映平台大型仪器预约、使用、计费情况。学校40万元以上所有大型仪器将逐步纳入大型仪器管理平台。",
		'2' => "目前已纳入平台的大型仪器133台，涵盖化学、生物、医学、药学、材料、环境科学、物理、电子、光学等多个学科，仪器种类有电镜类、能谱类、光谱类、质谱类、波谱类、色谱类、X射线类、显微镜及图像分析、生化分离分析、热分析、测量计量及微加工类等多种大型精密贵重仪器。"
		);
?>

<div class="intro-mainbody" >
	<div class="intro-container">
		<div class="row title-row"> 
			<div class="col-xs-12 title-font">
				<?php echo H($intro_title);?>
			</div>
		</div>
		<div class="row text-row"> 
			<?php foreach ($intro_text as $value) :?>
			<div class="col-xs-12 content-font">
				<?php echo H($value)."<br/><br/>"; ?>
			</div>
			<?php endforeach; ?>
		</div>
	</div>  	
</div>