<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1" /> 
    <title><?= H(T($title)) ?></title>
    <base href="<?= H(URL('/')) ?>">
    <link href="<?= H(RURL('bootstrap.css', 'css')) ?>" rel="stylesheet">
    <link href="<?= H(RURL('site.css', 'css')) ?>" rel="stylesheet">
    <link href="<?= H(RURL('font-awesome.css', 'css')) ?>" rel="stylesheet">
    <script data-main="<?= H(RURL('main.js', 'js')) ?>" src="<?= H(RURL('require.js', 'js')) ?>"></script>
    <!--[if lt IE 9]>
    <script src="<?= H(RURL('html5shiv.js', 'js')) ?>"></script>
    <script src="<?= H(RURL('respond.js', 'js')) ?>"></script>
    <script src="<?= H(RURL('jquery.low.js', 'js')) ?>"></script>
    <![endif]-->
</head>
<body class="<?= $layout_class ?>">
    <div id="header"><?= $header ?></div>
    <div id="wrap">
        <div id="navbar"><?= $navbar ?></div>
        <div id="body"><?= $body ?></div>
    </div>
</body>
</html>
