<div class='login-box'>
	<p class='title-font'><?php echo H(T("进入仪器预约系统"))?></p>
	<form class='login-form' method="post"  role="form" action="<?php echo $login_url?>">
	  	<div class="form-group">
	    	<label class="user-font" for="exampleInputEmail1"><?php echo H(T("用户名"))?></label>
	    	<input type="text" class="form-control " id="inputUser" name="token">
            <select class="selectpicker-less selectpicker" name="token_backend" id="backends"></select>
	  	</div>
	  	<div class="form-group">
	   	 	<label class="user-password" for="exampleInputPassword1"><?php echo H(T("密码"))?></label>
	    	<input type="password" class="form-control" id="inputPassword" name="password">
	  	</div>
	  	<div class="login-btn">
	  		<?php if ( \Gini\Config::get('server.url_signup') ) : ?>
		 	<p class="login-user-btn">
		 		<a href="<?php echo \Gini\Config::get('server.url_signup')?>"><?php echo T("注册新用户")?><a>
		 	</p>
		 	<?php endif; ?>
		  	<button type="submit" name="submit" value="登录" class="btn btn-default"><?php echo H(T("登录"))?></button>
		</div>
	</form>
</div>
<!--[if IE 8]> 
<style>
.selectpicker .caret{
    margin-top:-5px !important;
}
</style>
<![endif]-->
<script>
require(['jquery'],function(){
    $.getJSON(
        'ajax/index/get-backends',
        {},
        function (response) {
            $('#backends').append(response.view);
            require(['bootstrap-select', 'css!../css/bootstrap-select'], function(){
                $('.selectpicker').selectpicker();
            });
    });
    //南大首页登录框，不需要登录后同步显示用户信息
    // var remote_url = "<?php echo \Gini\Config::get('login.url').'current_user'?>";
    // check_current_user();
    // var interval = setInterval(function() {
    //     check_current_user(interval);
    // }, 1000);

    // function check_current_user(interval){
    //     $.ajax({  
    //         url:remote_url,
    //         dataType:'jsonp',  
    //         jsonp:'callback',  
    //         success:function(result) {
    //             if(!result.name || !result.img) return; 
    //             $.ajax({
    //                 url: "ajax/people/current",
    //                 data: {
    //                     'name':result.name,
    //                     'img':result.img,
    //                 }
    //             }).done(function(data) {
    //                 $('.login-box').replaceWith(data);
    //             });
    //             if(interval) clearInterval(interval);
    //         },
    //     });
    // }
});
</script>
