<main>
	<div class="container">
		<div class="panel panel-default center-block">
			<div class="panel-heading">
				<h3 class="panel-title">登录</h3>
			</div>
			<div class="panel-body">
			<form class="form-horizontal" method="post" action="<?=URL('login/Login')?>">
					<div class="form-group">
						<label for="username" class="col-sm-2 control-label">用户名</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" width="200" name="username" id="username"  placeholder="用户名">
                            <div class="help-block with-errors"><?php echo ($form['_errors'])?$form['_errors']['username']:''; ?></div>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">密码</label>
						<div class="col-sm-6">
							<input type="password" class="form-control" name="password" id="password"  placeholder="密码">
                            <div class="help-block with-errors"><?php echo ($form['_errors'])?$form['_errors']['password']:''; ?></div>
						</div>
						<div class="col-sm-4">
                            <a href="<?php echo URL('login/forgotpwd');?>">忘记密码</a>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">登录</button> <label class="help-block with-errors"><?php echo ($form['_errors'])?$form['_errors']['all']:''; ?></label>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
