<main>
	<div class="container">
		<div class="panel panel-default center-block">
			<div class="panel-heading">
				<h3 class="panel-title">消息</h3>
			</div>
			<div class="panel-body">
			<div class="alert alert-info" role="alert">请查阅邮件 <a href="<?php echo URL('/admin');?>">返回>></a></div>
			</div>
		</div>
	</div>
</main>
