<div class="navbar-style">
	<div class="container container-nav">
		<nav class="navbar navbar-default" role="navigation">
			    <ul class="nav navbar-nav ">
			       <li class="<?php if($active =='index'){echo 'active';}?>"><a href="index">首页</a></li>
				   <li class="<?php if($active == 'intro'){echo 'active';}?>"><a href="intro">平台简介</a></li>
				   <li class="<?php if($active == 'equipments'){echo 'active';}?>"><a href="equipments">仪器分类</a></li>
				   <li class="<?php if($active == 'download'){echo 'active';}?>"><a href="download">文件下载</a></li>
				   <li class="<?php if($active == 'notices'){echo 'active';}?>"><a href="notices">平台公告</a></li>
				   <li class="<?php if($active == 'contact'){echo 'active';}?>"><a href="contact">联系我们</a></li>
			    </ul>
		</nav>
	</div>
</div>
