<p>您好，<?php echo $user->name;?>:</p>
<p>您的用户名为: <?php echo $user->username;?></p>
<p>您的注册邮箱为: <?php echo $user->email;?></p>
<p>您的密码已初始化为:<?php echo $password;?></p>
<p>欢迎您使用<a href="http://nankai.less.com/admin">南开大学大型仪器管理平台</a>,感谢您的支持!</p>
